.page {
        font: small, Verdana;
        color: teal;
        background-image: "/background.jpg";
        margin-left: 5%;
}

.org {
        font-size: medium;
}

.name {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        margin: auto;
}

.section {
        font-size: large;
        font-weight: bold;
}

.italics {
        font-style: italic;
}

#pic {
        height: 400px;
        margin: auto;
}

#bio {
        border: 3px solid teal;
        width: 50%;
        padding: 5%;
        margin: auto
}